:root {
  --mdb-font-roboto: Arial, sans-serif;
  text-align: justify;
  hyphens: auto;
}

.bg-primary {
  background-color: $proti-color !important;
}

a {
  color: $proti-color;
}

a:hover {
  color: $proti-dark-color;
}

.navbar-height {
  height: $navbar-height;
  @media(min-width: $navbar-small-break) {
    height: $navbar-small-height;
  }
}

.pnav {
  padding-top: $navbar-height;
  @media(min-width: $navbar-small-break) {
    padding-top: $navbar-small-height;
  }
}

article:before {
  margin-top: -$navbar-height;
  height: $navbar-height;
  @media(min-width: $navbar-small-break) {
    margin-top: -$navbar-small-height;
    height: $navbar-small-height;
  }
  content: "";
  display: block;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  span.proti:after {
    font-weight: bold;
  }
}

.jumbotron {
  background: linear-gradient(
                  115deg,
                  rgba(255, 255, 255, 1) 40%,
                  rgba(47, 168, 131, 1) 75%
  );

  h1 {
    img {
      width: 100%;
    }

    font-weight: normal;
    width: 350px;
    max-width: 100%;
    font-size: 1.8rem;
  }

  .container:first-child {
    min-height: m#{i}n(900px, 75vh);
  }
}

// Bibliography

ol.bibliography {
  list-style: none;
  padding: 0;
  margin-top: 0;

  li {
    margin-bottom: 2rem;

    .abbr {
      display: inline;
      text-align: right;
      float: right;
    }
  }
}
